.menu-mr{
    margin-right: 45px;
}

.c-indicators {
    position: absolute;
    bottom: 42%;
    left: -88%;
    z-index: 2;
    display: inline-grid;

}


.indicator{
    width: 15px;
    height: 15px;
    border-radius: 50%;

}

.banner2{
    background-image: url(../images/six.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.c-content{
    background: rgba(1,1, 1, .5);
    padding: 100px 80px;
    color: white;
   
}
